# Copia este archivo a .env. NO subas tu .env al repositorio.

PGHOST=db
PGPORT=5432
PGUSER=polizas_app
PGPASSWORD=REEMPLAZAR
PGDATABASE=polizas

APP_PORT=8000
APP_ENV=development
APP_TZ=America/Bogota
